@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

img {
    height: 400px;
    border-radius: 40px;
}



a:hover{
    color: green
}

a{
    text-decoration: none;
}


* {
    background-color: rgb(231, 143, 28);
}

h3 a{
    font-size: 30px;
    color: rgb(110, 1, 1);
}


nav {
    border-bottom: 1px solid black;
    background-color: rgb(235, 235, 133);
    width: 100%;
    padding: 16px 300px 16px 10px;
}

nav a{
    font-size: 20px;
    background-color: rgb(235, 235, 133);
}

footer {
    width: 100%;

    padding: 50px 300px 50px 10px;
    background-color: rgb(235, 235, 133);
    font-size:x-large;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    column-gap: 400px;
    grid-row: 10px ;
}

body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}

.item-grid{
    font-size: x-large;
    color: rgb(26, 2, 2);
}

h1{
    font-size: 75px;
    color: darkgreen;
}

.item-grid:hover{
    color: gold;
}
